<% var title = '登录' %> <% include common/head %>

<h1>登录</h1>
<%- message %> <a href="<%-basePath %>/register">注册</a>
<form method="post" action="<%-basePath %>/login">
  <p>
    <label>用户名:</label>
    <input type="text" name="username" />
  </p>
  <p>
    <label>密码:</label>
    <input type="password" name="password" />
  </p>
  <p>
    <input type="submit" value="登录" />
  </p>
</form>

<% include common/foot %>
