<% var title = '注册' %> <% include common/head %>

<h1>注册</h1>
<%- message %>
<form method="post" action="<%-basePath %>/register">
  <p>
    <label>用户名:</label>
    <input type="text" name="username" />
  </p>
  <p>
    <label>密码:</label>
    <input type="password" name="password" />
  </p>
  <p>
    <label>重复密码:</label>
    <input type="password" name="checkpassword" />
  </p>
  <p>
    <input type="submit" value="注册" />
  </p>
</form>

<% include common/foot %>
